<h3>Address:</h3>

<p><strong>Recipient:</strong> <%= @address.recipient %></p>
<p><%= @address.street_1 %></p>
<% if @address.street_2.present? %>
  <p><%= @address.street_2 %></p>
<% end %>
<p><%= "#{@address.city}, #{@address.state} #{@address.zip}" %></p>
