<% if primary_object.nil? || (primary_object.respond_to?(:empty?) && primary_object.empty?) %>
  <h6>
    <%= "No #{state} #{tab_base} at this time" %>
  </h6>
<% else %>
  <%= render partial: "#{display_partial}", locals: {state: state, object: primary_object} %>
<% end %>